<ion-header>
  <ion-toolbar color="primary">
    <ion-title slot="start">
      Personajes de Rick & Morty
    </ion-title>
    <ion-buttons slot="end">
      @if(cargando === true){
      <ion-spinner color="light"></ion-spinner>
      }
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="primary">
    <ion-input color="primary" label="Pagina" type="number" [value] ="pagina"
    (ionInput)="cargarPorPagina($event)"
    ></ion-input>
  </ion-toolbar>
</ion-header>

<ion-content>

  @for (personaje of personajes; track 'id') {

    @if(personaje.species === 'Alien'){

    <ion-item>

      <ion-avatar slot="start">
        <img [src]="personaje.image" />
      </ion-avatar>

      <ion-label>
        <h2>
          {{ personaje.name }}
        </h2>
      </ion-label>

      <ion-label>
        <h2>
          {{ personaje.status }}
        </h2>
      </ion-label>

      <ion-label>
        <h2>
          {{ personaje.gender }}
        </h2>
      </ion-label>

      <ion-chip slot="end">
          {{ personaje.species }}
      </ion-chip>
    </ion-item>

  }

  }
  
</ion-content>
